*{
  margin: 0;
  padding: 0;
}
.heading{
  font-family:'Times New Roman', Times, serif;
  font-size: 40px;
  margin-left: 230px;
}


.main{
  /* text-align: center; */
  width: 50%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  margin-left: 30px;
  line-height: 35px;
  /* font-weight: bold; */
}
.table{
  width: 90vw;
  height: 400px;
  margin-top: 20px;
  padding-left: 10px;
  font-size: large;
}
.app{
  background-color:lightgray;
}